<!-- On inclus le contenu dans un row et une colonne pour limiter la largeur -->
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <!-- Le titre de la page -->
            <h3 class="card-title text-center m-4">Edit a comment</h3>

            <!-- Zone du formulaire -->
            <%= form_tag url_for(action: 'update'), method: "patch" do %>
            <%= label_tag 'Content' %>
            <%= text_area_tag 'content', @comment.content, class: "form-control" %>
            <br/>

            <%= submit_tag "Confirm", class: "btn btn-primary" %>

            <%= link_to "Delete Comment", gossip_comment_path, data: {confirm: "Are you sure?"}, method: "delete", class: "btn btn-danger mb-0 ml-2" %>
            <% end %>
    </div>
</div>